<div id="post_show">
  <h1>
    <%= @post.title %>
  </h1>
  <p class="username">
    Shared by
    <%= @post.user.name %>
    about
    <%= time_ago_in_words(@post.created_at) %>
  </p>
  <div class="clearfix">
    <div class="post_image_description">
      <% if @post.image.attached? %>
        <%= image_tag @post.image, style: "width: 700px; heigth: 500px; display: block" %>
      <% end %>
      <div class="description">
        <%= simple_format(@post.description) %>
      </div>
    </div>
    <div class="post_data">
      <%= link_to "Visit Link", @post.link, class: "button" %>
      <%= link_to like_post_path(@post), method: :get, class: "data" do %>
        <i class="fa fa-thumbs-o-up"></i>
        <%= pluralize(@post.get_upvotes.size, "Like") %>
      <% end %>
      <%= link_to dislike_post_path(@post), method: :get, class: "data" do %>
        <i class="fa fa-thumbs-o-down"></i>
        <%= pluralize(@post.get_downvotes.size, "Dislike") %>
      <% end %>
      <p class="data">
        <i class="fa fa-comments-o"></i>
        <%= pluralize(@post.comments.count, "Comment") %>
      </p>
      <% if @post.user == current_user %>
        <%= link_to "Edit", edit_post_path(@post), class: "data" %>
        <%= link_to "Delete", post_path(@post), method: :delete, data: { confirm: "Are you sure?" }, class: "data" %>
      <% end %>
    </div>
    <div id="random_post">
      <h3>Random Inspiration</h3>
      <div class="post">
        <div class="post_image">
          <% if @post.image.attached? %>
            <%= image_tag @post.image, style: "width: 700px; heigth: 500px" %>
          <% end %>
        </div>
        <div class="post_content">
          <div class="title">
            <h2>
              <%= link_to @post.title, post_path(@post) %>
            </h2>
          </div>
          <div class="data clearfix">
            <p class="username">
              Shared by
              <%= @post.user.name %>
            </p>
            <p class="buttons">
              <span>
                <i class="fa fa-comments-o"></i>
                <%= @post.comments.count %>
              </span>
              <span>
                <i class="fa fa-thumbs-o-up"></i>
                <%= @post.get_likes.size %>
              </span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="comments">
  <h2 class="comment_count">
    <%= pluralize(@post.comments.count, "Comment") %>
  </h2>
  <% @comments.each do |comment| %>
    <div class="comment">
      <p class="username">
        <%= comment.user.name %>
      </p>
      <p class="content">
        <%= comment.content %>
      </p>
    </div>
  <% end %>
  <%= render "comments/form" %>
</div>
